{# templates/posts/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}New Post for {{ course.title }}{% endblock %}

{% block body %}
    <h1>Create a New Post for {{ course.title }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.type) }}
        {{ form_row(form.attachment) }}
        <button class="btn">Create Post</button>
    {{ form_end(form) }}

    <a href="{{ path('courses_show', { id: course.id, code: course.code }) }}">Back to Course</a>
{% endblock %}
