{% extends 'base.html.twig' %}

{% block title %}
  {% set fullCourse = course.title %}
  {% set shortCourse = fullCourse|length > 30
      ? fullCourse|slice(0, 30) ~ '…'
      : fullCourse
  %}
  {{ 'post.new.title'|trans({'%course%': shortCourse}) }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('styles/post.css') }}">
{% endblock %}

{% block body %}
  {% set fullCourse = course.title %}
  {% set shortCourse = fullCourse|length > 30
      ? fullCourse|slice(0, 30) ~ '…'
      : fullCourse
  %}
  <div class="post-page">
    <div class="post-container">
      <h1>{{ 'post.new.heading'|trans({'%course%': shortCourse}) }}</h1>

      {{ form_errors(form) }}

      {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
        <div class="post-form-group">
          {{ form_row(form.title) }}
        </div>
        <div class="post-form-group">
          {{ form_row(form.content) }}
        </div>
        <div class="post-form-group">
          {{ form_row(form.type) }}
        </div>
        <div class="post-form-group">
          {{ form_row(form.attachment) }}
        </div>
        <div class="post-form-group">
          {{ form_row(form.category) }}
        </div>

        <div class="checkbox-group">
          {{ form_widget(form.isPinned) }}
          {{ form_label(form.isPinned) }}
          {{ form_errors(form.isPinned) }}
        </div>

        <button type="submit" class="btn">{{ 'post.new.submit'|trans }}</button>
      {{ form_end(form) }}

      <a href="{{ path('courses_show', { id: course.id, code: course.code }) }}">
        {{ 'post.new.back_to_course'|trans }}
      </a>
    </div>
  </div>
{% endblock %}
