{#templates/courses/course.html.twig#}
{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}{% endblock %}

{% block body %}
    <h1>{{ course.title }}</h1>
    {% if is_granted('ROLE_PROFESSOR') or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('post_new', { code: course.code, id: course.id }) }}">Create New Post</a>
    {% endif %}

    <h2>Posts</h2>
    <ul>
        {% for post in course.posts %}
            <li>
                <strong>{{ post.title }}</strong> ({{ post.type }})
                {% if post.type == 'file' and post.filePath %}
                    <a href="{{ asset('uploads/posts/' ~ post.filePath) }}">Download File</a>
                {% endif %}
                <small>Posted on {{ post.createdAt|date('Y-m-d H:i') }}</small>
            </li>
        {% else %}
            <li>No posts yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
