{#templates/courses/edit.html.twig#}
{% extends 'base.html.twig' %}

{% block title %}Edit Course: {{ course.title }}{% endblock %}

{% block body %}
    <h1>Edit Course</h1>
    {{ form_errors(form) }}
    {{ form_start(form) }}
        <div>
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
        <div>
            {{ form_label(form.code) }}
            {{ form_widget(form.code) }}
            {{ form_errors(form.code) }}
        </div>
        <div>
            {{ form_label(form.image) }}
            {{ form_widget(form.image) }}
            {{ form_errors(form.image) }}
        </div>
        <button type="submit">Update Course</button>
    {{ form_end(form) }}
    <a href="{{ path('courses_show', { id: course.id, code: course.code }) }}">Back to Course</a>
{% endblock %}
