{# templates/courses/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Edit Course: {{ course.title }}{% endblock %}

{% block body %}
    <div class="course-form-container">
        <h1>Edit Course</h1>
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'input-field'}}) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content, {'attr': {'class': 'input-field'}}) }}
                {{ form_errors(form.content) }}
            </div>
            <div class="form-group">
                {{ form_label(form.code) }}
                {{ form_widget(form.code, {'attr': {'class': 'input-field'}}) }}
                {{ form_errors(form.code) }}
            </div>
            <div class="form-group">
                {{ form_label(form.image) }}
                {{ form_widget(form.image, {'attr': {'class': 'input-field'}}) }}
                {{ form_errors(form.image) }}
            </div>
            <button type="submit" class="submit-button">Update Course</button>
        {{ form_end(form) }}
    </div>
    <a href="{{ path('courses_show', { id: course.id, code: course.code }) }}">Back to Course</a>
{% endblock %}
