{# templates/courses/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Add New Course{% endblock %}

{% block body %}
    <div class="course-form-container">
        <h1>Add New Course</h1>
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'input-field'}}) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content, {'attr': {'class': 'input-field'}}) }}
                {{ form_errors(form.content) }}
            </div>
            <div class="form-group">
                {{ form_label(form.code) }}
                {{ form_widget(form.code, {'attr': {'class': 'input-field'}}) }}
                {{ form_errors(form.code) }}
            </div>
            <div class="form-group">
                {{ form_label(form.image) }}
                {{ form_widget(form.image, {'attr': {'class': 'input-field'}}) }}
                {{ form_errors(form.image) }}
            </div>
            <button type="submit" class="submit-button">Create Course</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
