{% extends 'base.html.twig' %}

{% block title %}{{ 'course.new.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/course.css') }}">
{% endblock %}

{% block body %}
<div class="course-container">
    <h1>{{ 'course.new.heading'|trans }}</h1>
    
    {{ form_errors(form) }}
    {{ form_start(form) }}
    
        <div class="course-form-group">
            {{ form_row(form.title) }}
        </div>
        
        <div class="course-form-group">
            {{ form_row(form.description, {'attr': {'rows': 3}}) }}
        </div>
        
        <div class="course-form-group">
            {{ form_row(form.code) }}
        </div>
        
        <div class="course-form-group">
            {{ form_row(form.image, {'label': 'course.new.image_label'|trans}) }}
        </div>
        
        <button type="submit" class="btn">{{ 'course.new.submit'|trans }}</button>
        
    {{ form_end(form) }}
</div>
{% endblock %}
