{#templates/courses/new.html.twig#}
{% extends 'base.html.twig' %}

{% block title %}New course{% endblock %}

{% block body %}
    <h1>Create a New Course</h1>
    {{ form_errors(form) }}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.code) }}
        <button type="submit">Create Course</button>
    {{ form_end(form) }}
{% endblock %}
